body{
    
    background-image: url('../images/texture.png');
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    height:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 30px;
    font-family: Jost;
    font-weight: 500;
    color: white;

}

.job{
    font-size: 20px;
    font-family: Jost;
    font-weight: 200;
    color: white;
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: Gotham;
    font-size: 15px;
}

.box{
    height: 300px;
    width: 800px;
    background-color: white;
    padding: 30px;
    border: 1px solid black;
    border-radius: 8px
    ;
}

.pic{
    width: 800px;
    height: 180px;
    background-size: cover;
    border-radius: 7%;
}

.box-content{
    display: flex;
    flex-direction: row;
    gap:20px;
    width: 800px;
    height: 200px;
    
}

.box:hover{
    height: 300px;
    width: 900px;
    background-color: pink;
}

.cursor{
    cursor: pointer;
}

.decoration{
    text-decoration: none;
    color: black;
}

h3{
    color: #F21A6B;
    font-family: Jost;
    font-weight: 800;
    font-size: 24px;
}