body{
    background-color: white;
    padding:0;
    margin:0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 70px;
    background-color: #F21A6B ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

header a{
    font-size: 18px;
    color:white;
    font-family: Jost;
    font-weight: 300;
    text-decoration: none;
}

.home{
    font-weight: 600;
    
}

.ask{
    text-decoration: underline;
}


.title{
    color:#F21A6B;
    font-family: Jost;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;

}





.label {
    font-weight: medium;
    font-family: Jost;
    color: #333;
    margin-right: 10px;
  }
  
  .thing{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    display: flex;
    justify-content: flex-start;
  }

  .thing:focus::placeholder{
     color:transparent;
  }

  .text {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 200px;
    height: 200px; 
    display: flex;
    align-items: start;
    justify-content: start;
  }



  
  #fname:required {
    border-color: #ff0000;
  }

  main {
   display:flex;
   flex-direction: row;
   width:100%;
   padding: 0px 30px;
   gap: 250px;
}

.title-2{
    color:#F21A6B;
    font-family: Jost;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

